*{
    margin:0px;
    padding: 0px;
    
}
body {
  margin: 0;
  height: 100vh;                /* full viewport height */
  display: flex;
  justify-content: center;      /* horizontal center */
  align-items: center;          /* vertical center */
}
.container{
    display: flex;
    height: 300px;
    width: 400px;
    background-color: red;
    position: relative;
   
}
#middle-part{
    height: 150px;
    width: 400px;
    background-color: rgb(26, 26, 166);
    position: absolute;
    margin-top: 75px;    

}

#circle{
    height: 90px;
    width: 90px;
    background-color: white;
    border-radius: 50%;
    position:absolute;
   margin: 30px 155px;
}